{% extends 'shablon.html' %}

{% block content %}

<div class="d-flex justify-content-center">

  <div class="card" style="width:400px; text-align: center">
      <h4>Информация о Товаре</h4>
      {% if product.image %}
          <img class="card-img-top" src="{{ product.image.url }}" width="260" height="300" alt="">
      {% else %}
          <img src="/uploads/user_pics/notfoto.png"  width="260" height="300" alt="">
      {% endif %}
      <div class="card-body">

          <h4 class="card-title">Название: {{ product.name }}</h4>
          <p class="card-text">О товаре: {{ product.description}}</p>
          <p class="card-text">Категория: {{ product.category }}</p>
{#          <a href="{% url 'product_update' product.id %}"><button type="button" class="btn btn-warning">Редактировать!</button></a>#}
{#          <a href="{% url 'product_delete' product.id %}"><button type="button" class="btn btn-secondary">Удаление!</button></a>#}
      </div>
 </div>

</div>


{% endblock content %}
